:root {
  /* font-family: Circular-Pro; */
  /* font-family: MercuryTextG4; */
  --dark: #000;
  --light: #fff;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
  --geist-selection: var(--geist-cyan);
  --geist-link-color: var(--geist-success);
  --geist-success-light: #3291ff;
  --geist-success: #0070f3;
  --geist-success-dark: #0366d6;
  --geist-error-light: #ff1a1a;
  --geist-error: #e00;
  --geist-error-dark: #c00;
  --geist-warning-light: #f7b955;
  --geist-warning: #f5a623;
  --geist-warning-dark: #f49b0b;
  --geist-secondary-light: var(--accents-3);
  --geist-secondary: var(--accents-5);
  --geist-secondary-dark: var(--accents-7);
  --geist-code: var(--geist-purple);

  --dropdown-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.02);
  --shadow-smallest: 0px 4px 8px rgba(0, 0, 0, 0.12);
  --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);
  --shadow-hover: 0 30px 60px rgba(0, 0, 0, 0.12);
  --shadow-sticky: 0 12px 10px -10px rgba(0, 0, 0, 0.12);

  --geist-gap: 16pt;

  --geist-cyan: #79ffe1;
  --geist-cyan-dark: #50e3c2;
  --geist-purple: #f81ce5;
  --geist-violet: #7928ca;
  --geist-alert: #ff0080;
  --geist-marketing-gray: #fafbfc;
  --font-sans: Circular-Pro, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;

  font-family: var(--font-sans);
}

code {
  font-family: var(--font-mono);
  font-size: 0.75rem;
}

body {
  max-width: 970px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-x: scroll;
}
