@font-face {
  font-family: "Circular-Pro";
  src: url("./public/fonts/optimized-subset/lineto-circular-pro-book.subset.woff2")
      format("woff2"),
    url("./public/fonts/optimized-subset/lineto-circular-pro-book.subset.woff")
      format("woff");
  unicode-range: U+0000-007f;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circular-Pro";
  src: url("./public/fonts/optimized-subset/lineto-circular-pro-bookitalic.subset.woff2")
      format("woff2"),
    url("./public/fonts/optimized-subset/lineto-circular-pro-bookitalic.subset.woff")
      format("woff");
  unicode-range: U+0000-007f;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Circular-Pro";
  src: url("./public/fonts/optimized-subset/lineto-circular-pro-bold.subset.woff2")
      format("woff2"),
    url("./public/fonts/optimized-subset/lineto-circular-pro-bold.subset.woff")
      format("woff");
  unicode-range: U+0000-007f;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circular-Pro";
  src: url("./public/fonts/optimized-subset/lineto-circular-pro-bolditalic.subset.woff2")
      format("woff2"),
    url("./public/fonts/optimized-subset/lineto-circular-pro-bolditalic.subset.woff")
      format("woff");
  unicode-range: U+0000-007f;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Circular-Pro";
  src: url("./public/fonts/optimized-subset/lineto-circular-pro-medium.subset.woff2")
      format("woff2"),
    url("./public/fonts/optimized-subset/lineto-circular-pro-medium.subset.woff")
      format("woff");
  unicode-range: U+0000-007f;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular-Pro";
  src: url("./public/fonts/optimized-subset/lineto-circular-pro-mediumitalic.subset.woff2")
      format("woff2"),
    url("./public/fonts/optimized-subset/lineto-circular-pro-mediumitalic.subset.woff")
      format("woff");
  unicode-range: U+0000-007f;
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "MercuryTextG4";
  src: url("./public/fonts/optimized-subset/mercury-text-g4-bold-pro.subset.woff2")
      format("woff2"),
    url("./public/fonts/optimized-subset/mercury-text-g4-bold-pro.subset.woff")
      format("woff");
  unicode-range: U+0000-007f;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MercuryTextG4";
  src: url("./public/fonts/optimized-subset/mercury-text-g4-bold-italic-pro.subset.woff2")
      format("woff2"),
    url("./public/fonts/optimized-subset/mercury-text-g4-bold-italic-pro.subset.woff")
      format("woff");
  unicode-range: U+0000-007f;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "MercuryTextG4";
  src: url("./public/fonts/optimized-subset/mercury-text-g4-italic-pro.subset.woff2")
      format("woff2"),
    url("./public/fonts/optimized-subset/mercury-text-g4-italic-pro.subset.woff")
      format("woff");
  unicode-range: U+0000-007f;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "MercuryTextG4";
  src: url("./public/fonts/optimized-subset/mercury-text-g4-roman-pro.subset.woff2")
      format("woff2"),
    url("./public/fonts/optimized-subset/mercury-text-g4-roman-pro.subset.woff")
      format("woff");
  unicode-range: U+0000-007f;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MercuryTextG4";
  src: url("./public/fonts/optimized-subset/mercury-text-g4-semi-bold-pro.subset.woff2")
      format("woff2"),
    url("./public/fonts/optimized-subset/mercury-text-g4-semi-bold-pro.subset.woff")
      format("woff");
  unicode-range: U+0000-007f;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MercuryTextG4";
  src: url("./public/fonts/optimized-subset/mercury-text-g4-semi-italic-pro.subset.woff2")
      format("woff2"),
    url("./public/fonts/optimized-subset/mercury-text-g4-semi-italic-pro.subset.woff")
      format("woff");
  unicode-range: U+0000-007f;
  font-weight: 600;
  font-style: italic;
}

* {
  /* font-family: "Circular-Pro"; */
  /* font-family: "MercuryTextG4"; */
}

:root {
  --dark: #222222;
  --light: #ffffff;
}
